@font-face {
font-family: 'font0e57303ba910378cb7f4288216ebb1b8';
    
    src:    url('https://nomail.com.ua/files/eot/0e57303ba910378cb7f4288216ebb1b8.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/0e57303ba910378cb7f4288216ebb1b8.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/0e57303ba910378cb7f4288216ebb1b8.woff2') format('woff2');
}

@font-face { font-family: 'Freehand575BT-RegularB';  src: local('Freehand575BT-RegularB'), url('https://nomail.com.ua/files/woff/0e57303ba910378cb7f4288216ebb1b8.woff') format('woff'); }

html{
	scroll-behavior: smooth;
}

.f-nav{ 
	z-index: 9999; 
	position: fixed; 
	left: 0; 
	top: 0; 
	width: 100%;
}

#wrapper{
	width: 100%;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

/*start header */
header{
	.bg-success{
		background-color: #40b583 !important;
		z-index: 10;
	}
	nav{		
		height: 100px;
		filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.05));	
		background-color: #4ec391;
		border: 1px solid rgba(255,255,255,0.23);
		.navbar-brand{
			display: flex;
    		align-items: center;
			.logo{
				width: 35px;
				height: 35px;
				border-radius: 50%;
				filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.28));
				border: 5px solid #ffffff;
				.pixel{
					width: 7px;
					height: 7px;
					border-radius: 3px;
					filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.28));
					background-color: #ffffff;
					margin: 40% auto;
				}
			}
			h1{
				font-size: 36px;
				line-height: 92px;
				color: #ffffff;
				font-weight: 700;
				font-family: 'Dosis', sans-serif;
				filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.28));
				text-transform: uppercase;
				margin: 0 0 0 15px;
			}
		}
		.navbar-collapse{
			justify-content: flex-end;
			.navbar-nav{
				align-items: center;
				background-color: #40b583;				
				.nav-item{
					font-size: 16px;
					line-height: 36px;
					color: #ffffff !important;
					font-weight: 700;
					font-family: 'Dosis', sans-serif;
					filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.28));
					text-transform: uppercase;
					display: inline-block;
					position:relative;
					&:after{
						background-color: #ffffff;
					    display: block;
					    content: "";
					    height: 2px;
					    width: 0%;
					    left:50%;
					    position:absolute;
					    -webkit-transition: width .3s ease-in-out;
					    -moz--transition: width .3s ease-in-out;
					    transition: width .3s ease-in-out;
					    -webkit-transform:translateX(-50%);
					    -moz-transform:translateX(-50%);
					    transform:translateX(-50%);
					}
					&:hover:after{
						width: 100%;
					}
					&:focus:after{
						width: 100%;
					}
				}
				.ellipse_element{
					width: 12px;
					height: 12px;
					border-radius: 50%;				
					border: 2px solid #ffffff;
					position: relative;
					margin: 0 20px; 
						.pixel{
							width: 2px;
							height: 2px;
							border-radius: 50%;						
							background-color: #ffffff;
							margin: 40% auto;
						}
					}
				}			
		}
	}	    		
} 	

/* Start footer */
footer{
	padding: 15px 0;
	.to_top{
		text-align: right;
		a{
			font-size: 14px;
			line-height: 36px;
			color: #282828;
			font-weight: 700;
			font-family: 'Dosis', sans-serif;
			text-transform: uppercase;
		}		
	}
	.copyright{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		p{
			font-size: 14px;
			line-height: 36px;
			color: #282828;
			font-weight: 700;
			font-family: 'Dosis', sans-serif;
			margin: 0 0 0 10px; 
		}
	}
	.social-item{
		display: flex;
		text-align: left;
		a{
			margin: 0 25px 0 0;
			&:hover{
				text-decoration: none;
			}
			.icon{
				width: 30px;
			    height: 30px;
			    border: 2px solid #bcbcc4;
			    border-radius: 50%;
			    text-align: center;
			    padding: 5px;
			    color: #bcbcc4;
			    &:hover{
			    	color: #fddf16;
			    	border: 2px solid #fddf16;
			    }
			}
		}
	}
}


main{
	#slider{
		.carousel-indicators{
			bottom: -70px;
			z-index: 9;
			li{
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #515553;
				margin: 0 15px;
			}
		}
		.carousel-inner{
			.carousel-item{
				.carousel-caption{
					top: 15%;
					right: 10%;
					left: 10%;
					z-index: 9;
						h5{
							font-size: 48px;
							letter-spacing: 5px;
							line-height: 48px;
							color: #ffffff;
							font-weight: 400;
							font-family: 'Dosis', sans-serif;
							filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.28));
							text-transform: uppercase;
						}	
					}				
				}
			}
		}
	#blog{
		margin-top: 150px; 
		.card-plain{
		    margin-bottom: 50px;
		}
		.card-info{
			h3{
				font-size: 40px;
				letter-spacing: 2px;
				line-height: 35px;
				color: #282828;
				font-weight: 300;
				font-family: 'Dosis', sans-serif;
				text-transform: uppercase;
				a{
					color: #282828;
				}			
			}
			p{				
				font-size: 16px;
				line-height: 28px;
				color: #5e5e5e;
				font-weight: 300;
				font-family: 'Open Sans', sans-serif;
			}
			a{
				.button-wrapp{
					width: 140px;				
					border-radius: 5px;
					text-align: center;				
					border: 2px solid #282828;
					padding: 0 0 0 0;
					font-size: 16px;
					line-height: 35px;
					color: #414141;
					font-weight: 700;
					font-family: 'Dosis', sans-serif;
					text-transform: uppercase;
					&:hover{
						border: 2px solid #fddf16;
						color: #ffffff;
						background-color: #fddf16;
					}
				}				
			}
		}
	}
	#number{
		background-color: #45b887;
		padding: 30px 0 40px 0;
		p{
			font-size: 48px;
			line-height: 78px;
			color: #ffffff;
			font-family: 'Freehand575BT-RegularB';
			text-align: center;
			filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.28));
		}
		.index{
			display: flex;
			justify-content: center;
			align-items: center;
			.number{
				p{
					font-size: 60px;
					line-height: 30px;
					color: #ffffff;
					font-weight: 200;
					font-family: 'Dosis', sans-serif;
					filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.28));
				}
			}
			.text{
				p{
					font-size: 24px;
					line-height: 30px;
					letter-spacing: 1px;
					color: #ffffff;
					font-weight: 400;
					font-family: 'Dosis', sans-serif;
					filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.28));
					margin-left: 5px;
					width: 120%;
				}
			}
		}		
		.ellipse_element{
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 2px solid #ffffff;
			position: relative;
			margin: 0 15px;
			.pixel{
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: #ffffff;
				margin: 35% auto;
			}
		}
	}

	#tabs{
		.empty{
			height: 50px;
		}
		h3{
			font-size: 36px;
			letter-spacing: 4px;
			line-height: 48px;
			color: #282828;
			font-weight: 400;
			font-family: 'Dosis', sans-serif;
			text-transform: uppercase;
		}
		.nav-tabs{
			display: flex;
			justify-content: flex-end;
			border-bottom: none;
			.nav-item{
				margin-bottom: 0;
				margin-right: 20px;
				.nav-link{
					width: 56px;
					font-size: 14px;
					line-height: 15px;
					color: #414141;
					font-weight: 700;
					font-family: 'Dosis', sans-serif;
					padding: 5px 10px;
					border-top-left-radius: 0;
    				border-top-right-radius: 0;
    				border: 2px solid #282828;
    				border-radius: 5px;
    				text-align: center;
				}
				.active{
					background-color: #282828;
					color: #ffffff;
				}
			}
		}
		.tab-content{
			width: 100%;
			margin: 50px 0 40px 0;			
			.tab-pane{
				.fotosProducts{
					background-color: #dfdfdf;
				    width: 100%;
				    height: 240px;
				    margin-bottom: 30px;
			        color: #000;
				    font-size: 20px;
				    text-align: center;
				    padding: 50%;
				}
			}
		}
		a{
			.button-wrapp{
				display: block;
				text-align: center;			
				padding: 5px 20px 5px 20px;			
				border-radius: 5px;
				border: 2px solid #282828;
				margin: 0 0 50px 0;
				font-size: 16px;
				color: #414141;
				font-weight: 700;
				font-family: 'Dosis', sans-serif;
				&:hover{
					border: 2px solid #fddf16;
					background-color: #fddf16;
					color: #ffffff;  
				}
			}				
		}		
	}
	#adress{		
		.content{
			padding: 35px 0;
			border-top: 2px solid #e8e8e8;
			border-bottom: 2px solid #e8e8e8;
			.logo-footer{
				display: flex;
				align-items: center;
				.ellipse_element{
					width: 35px;
					height: 35px;
					border-radius: 17px;					
					border: 5px solid #282828;
					.pixel{
						width: 7px;
						height: 7px;
						border-radius: 3px;
						background-color: #282828;
					    margin: 35% auto;
					}
				}
				.logo-title{
					font-size: 36px;
					line-height: 92px;
					color: #282828;
					font-weight: 700;
					font-family: 'Dosis', sans-serif;
					text-transform: uppercase;
					margin-left: 20px;
				}			
			}
			.quick{
				font-size: 18px;
				line-height: 24px;
				color: #282828;
				font-weight: 700;
				font-family: 'Dosis', sans-serif;
				text-transform: uppercase;
			    padding: 15px 0 0 0px;	
			}
			.text{
				.info-footet{			
					p{
						font-size: 14px;
						line-height: 24px;
						color: #282828;
						font-weight: 300;
						margin-bottom: 0;
						font-family: 'Open Sans', sans-serif;
					}			
				}
				.contact{
					p{
						font-size: 24px;
						line-height: 40px;
						color: #282828;
						font-weight: 300;
						font-family: 'Open Sans', sans-serif;
						text-align: right;
						margin-bottom: 0;
					}
				}	
			}
		}		
	}
	#partners{
		padding: 80px 0;
		h3{
			font-size: 36px;
			letter-spacing: 4px;
			line-height: 48px;
			color: #282828;
			font-weight: 400;
			font-family: 'Dosis', sans-serif;
			text-transform: uppercase;
		}
		p{
			font-size: 12px;
			line-height: 24px;
			color: #c9c9c9;
			font-weight: 400;
			font-style: italic;
			font-family: 'Open Sans', sans-serif;
		}
		.button{
			a{
				width: 36px;
				height: 30px;
				border-radius: 5px;				
				border: 2px solid #282828;
				img{
					margin: -5px 0 0 0;
				}
			}
		}
		.carousel{
			width: 100%;
			.partner{				
				height: 230px;
				width: 100%;
			    text-align: center;
			    margin:20px auto;
			    position:relative;
			    	.info-partners{
			    		position:absolute;
					    left:0;
					    bottom:0;
					    right:0;
					    top:0;
					    background-color:#fafafa;
					    padding:5px;
					    display:none;
					    p{
					    	text-align: justify;
							padding: 15px 60px 0;
							font-size: 14px;
							margin-bottom: 0;
							line-height: 18px;
							color: #414141;
							font-weight: 400;
							font-style: italic;
							font-family: 'Open Sans', sans-serif;							}
					    }
					    .autor{
					    	font-family: 'Open Sans', sans-serif; 
							font-style: normal !important;
							padding: 15px 60px;						
			    	}
			    	&:hover .info-partners{
			    		display:block;
			    	}
			}
		}
	}
}






@media screen and (max-width: 767px) {

	header{
		nav{
			h1{
				font-size: 30px;
			}
		}
	}
	footer{
		padding: 15px 0;
		.to_top{
			text-align: center;						
		}
		.copyright{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;		
		}
		.social-item{
			display: flex;
			text-align: left;
			justify-content: center;
		}
	}

main{
	#slider{
		.carousel-indicators{
			bottom: -70px;
			li{
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #515553;
				margin: 0 15px;
			}
		}
		.carousel-inner{
			.carousel-item{
				height: 160px;
				.active{
					height: 160px;
				}
				.w-100{
					height: 160px;
				}
				.carousel-caption{
					top: 5%;
					right: 5%;
					left: 5%;
						h5{
							font-size: 24px;							
							line-height: 24px;							
						}	
					}				
				}
			}
		}
	#blog{
		margin-top: 70px; 
		.card-plain{
		    margin-bottom: 25px;
		}
		.card-header-image{
			img{
				width: 100%;
				margin: 20px 0;
			}
		}
		.card-info{
			h3{
				font-size: 24px;
				width: 100%;
				text-align: center;					
			}
			p{
				font-size: 14px;
				text-align: justify;				
			}
			a{
				.button-wrapp{
					width: 100%;	
					font-size: 14px;
				}
			}
		}
	}
	#number{
		padding: 15px 0;
		p{
			font-size: 18px;
			line-height: 40px;
		}
		.index{
			justify-content: flex-start;
			.number{
				p{
					font-size: 45px;			
				}
			}
			.text{
				p{
					font-size: 20px;				
					width: 100%;
				}
			}
		}
		.ellipse_element{
			.pixel{	
				margin: 40% auto;
			}
		}
	}
	#tabs{
		.empty{
			display: none;
		}
		h3{
			width: 100%;
			font-size: 24px;
			text-align: center;
		}
		.nav-tabs{
			display: flex;
			justify-content: center;
			.nav-item{
				margin-right: 2px;
			}
		}
		.tab-content{
			width: 100%;
			margin: 20px 0;
			.tab-pane{
				.fotosProducts{
				    width: 100%;
				    margin-bottom: 20px;
				}
			}
		}
		a{
			width: 100%;
			.button-wrapp{
				margin: 0 0 20px 0;
			}
		}
	}
	#adress{
		.content{
			padding: 15px 0;		
			.logo-footer{
				justify-content: center;
			}
			.quick{
				text-align: center;
				margin: 0 0 5px 0;					
			}
			.text{
				.info-footet{
					p{
						text-align: justify;
						margin: 0 0 10px 0;
					}
				}
				.contact{
					p{
						font-size: 18px;
						text-align: center;
					}
				}
			}
		}
	}
	#partners{
		padding: 20px 0;
		h3{
			font-size: 24px;			
			line-height: 30px;
			text-align: center;			
		}
		p{
			text-align: center;
		}
		.button{
			a{
				width: 90px;
			}
		}
		.carousel{
		margin: 50px 0 0 0;		
			.partner{	
				height: 150px;			    
			    margin:5px auto;			   
			    	.info-partners{			    		
					    p{					    	
							padding: 10px 10px;
							font-size: 12px;							
						}
					}					    		    	
			}
		}
		.carousel-control-prev {
		    left: 30px;
		}
		.carousel-control-next {
		    right: 30px;
		}
	}
}






}




@media screen and (min-width: 768px) and (max-width: 991px) {

	main{
		#slider{
		.carousel-indicators{
			bottom: -70px;
			li{
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #515553;
				margin: 0 15px;
			}
		}
		.carousel-inner{
			.carousel-item{
				height: 160px;
				.active{
					height: 160px;
				}
				.w-100{
					height: 160px;
				}
				.carousel-caption{
					top: 5%;
					right: 5%;
					left: 5%;
						h5{
							font-size: 24px;							
							line-height: 24px;							
						}	
					}				
				}
			}
		}
		#tabs{
			.empty{
				display: none;
			}		
			.nav-tabs{
				.nav-item{
					margin-right: 10px;
				}
			}		
		}
		#number{
		padding: 15px 0;
		p{
			font-size: 18px;
			line-height: 40px;
		}
		.index{
			justify-content: flex-start;
			.number{
				p{
					font-size: 30px;			
				}
			}
			.text{
				p{
					font-size: 14px;				
				}
			}
		}
		.ellipse_element{
			margin: 0px;
			.pixel{	
				margin: 30% auto;
			}
		}
	}			    
	}
}

